/* reset browser styles */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* reset browser styles */
@font-face {
	font-family: 'Raleway';
	src: url(assets/fonts/raleway-regular-webfont.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
  }
  @font-face {
	font-family: 'Raleway-italic';
	src: url(assets/fonts/raleway-regularitalic-webfont.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
  }

body {
	text-align: center;
	background: white;
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
.content div {
	width: 1020px;
	margin: 0 auto;
	display: flex;
}
header {
	background-image: url(assets/bg1.png);
	width: 1300px;
	height: 566px;
}
.top {
	height: 112px;
	display: flex;
}
#logo {
	width: 304px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: -12px;
	margin-top: 28px;
}
#logo ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	margin-left: 12px;
}
#logo img {
	position: relative;
}
#logoimgfir {
	height: 84px;
	width: 84px;
	z-index: 10;
}
#logoimgsec {
	height: 80px;
	width: 80px;
	z-index: 2;
	top: -87px;
}
#logo h1 {
	font-family: 'Raleway-italic';
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: rgba(255, 255, 255, 255);
	width: 225px;
	height: 30px;
	margin-top: -62px; 
	margin-left: 10px;
}
nav {
	background: url(assets/navbg.png);
	height: 41px;
	width: 453px;
	margin-top: 71px;
	display: flex;
	box-shadow: -5px -5px rgba(245, 197, 6, 0.6),
				-8px -8px rgba(245, 197, 6, 0.4);
	}
nav ul {
	width: 454px;
	display: flex;
	flex-direction: row;
	list-style: none;
	border-right: none;
}
nav li {
	height: 41px;
	width: 300px;
	font-family: 'SegoeWP', 'AdobeInvisFont', 'MyriadPro-Regular';
	font-size: 17px;
	text-transform: uppercase;
	border-right: 1px solid #dcb105;
	box-sizing: border-box;
	padding-top: 11px;
	margin-left: 34px;
}
nav a {
	text-decoration: none;
	color: rgba(155, 125, 8, 255);
}
nav img {
	margin-right: 9px;
	vertical-align: bottom;
}
#about {
	width: 21px;
	height: 19px;
}
#serv {
	width: 19px;
	height: 19px;
}
#cont {
	width: 24px;
	height: 18px;
}
.center div {
	height: 327px;
	display: flex;
	flex-direction: row;
	margin-top: 56px;
	margin-left: 10px;
	justify-content: space-around;
	vertical-align: bottom;
}
.slogan div {
	width: 392px;
	height: 121px;
	display: flex;
}
.slogan h1{
	height: 121px;
	font-family: 'Raleway';
	font-size: 58px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 255);
	margin-top: 85px;
}
#thecool {
	color: #f5c506;
}
main {
	height: 720px;
	display: flex;
	flex-direction: column;
}
section {
	height: 212px;
	width: 1300px;
	background-image: url(assets/sectionbg.png);
	box-shadow: 0px -2px 5px -1px #4c4c4c;
}
section ul {
	width: 1020px;
	font-size: 27px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0 auto;
	border-right: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
}
section ul li img {
	height: 100px;
	width: 100px;
}
section li {
	width: 340px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Raleway';
	justify-content: flex-end;
	padding-bottom: 32px;
}
#better {
	width: 109px;
	height: 74px;
	margin-bottom: 14px;
	margin-left: -5px;
}
#cust {
	width: 91px;
	height: 95px;
	margin-bottom: 17px;
	margin-left: 23px;
}
#its {
	width: 81px;
	height: 83px;
	margin-bottom: 13px;
	margin-left: -22px;
}
article {
	background: url(assets/bgyellow.png);
	height: 509px;
	display: flex;
	flex-direction: column;
	text-align: left;
	box-shadow: inset 0 2px 5px -1px #4c4c4c;
}
article ul {
	margin: 0 auto;
	width: 1020px;
	list-style: none;
	display: flex;
	flex-direction: row;
	height: 233px;
}
#arttitle {
	width: 517px;
	font-family: 'Raleway';
	font-size: 33px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 255);
	text-align: left;
	padding: 35px 0;
	margin-left: 143px;
}
article li {
	display: flex;
	justify-content: space-around;
}
article li p {
	font-family: 'Raleway';
	font-size: 28px;
	color: rgba(255, 255, 255, 255);
	text-align: left;
	width: 272px;
	height: 174px;
	margin-top: 25px;
}
.text {
	background: url(assets/sectiontextbg.png);
	width: 341px;
	height: 233px;
	justify-content: space-around;
}
.bird {
	background-image: url(assets/birdbg.png);
	width: 329px;
	height: 233px;
	justify-content: space-around;
	align-items: center;
	margin-left: 34px;
}
.bird img {
	width: 163px;
	height: 133px;
	margin-top: 19px;
}
.pic img {
	width: 315px;
	height: 232px;
}
footer {
	background: url(assets/footerbg.png);
	height: 500px;
	display: flex;
	flex-direction: column;
}
footer p {
	width: 601px;
	height: 32px;
	font-family: 'Raleway';
	font-size: 38px;
	color: white;
	border: 1px solid red;
	margin-top: 40px;
	margin-left: 353px;
	text-transform: uppercase;
}
#picslist {
	width: 600px;
	height: 350px;
	border: 1px solid green;
	margin-top: 13px;
	margin-left: -10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#list {
	width: 310px;
	height: 214px;
	border: 1px solid red;
	margin-top: 107px;
	display: flex;
}
#picslist ul {
	width: 550px;
	height: 300px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}
#list ul {
	list-style: none;
	font-family: 'Raleway';
	font-size: 20px;
	color: white;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#picslist li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 2px solid red;
}
#phone img {
	padding-top: 112px;
	padding-right: 6px;
}
#list li {

}
underfooter { 
	background: url(assets/underfootbg.png);
	height: 64px;
	display: flex;
	justify-content: center;
	box-shadow: inset 0 2px 5px -1px black;
}

