/* reset browser styles */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* reset browser styles */

body {
	text-align: center;
	background: greenyellow;
}
.content div {
	width: 1020px;
	margin: 0 auto;
	display: flex;
}
header {
	background-image: url(assets/bg1.png);
	width: 1300px;
	height: 566px;
	margin: 0 auto;
	border: 3px solid gray;
}
.logo div {
	width: 319px;
	height: 87px;
	display: flex;

}
.logoimg1 {
	height: 84px;
	width: 84px;
	z-index: 10;
	
}
.logoimg2 {
	height: 80px;
	width: 80px;
	z-index: 2;
}
.logo h1 {
	font-family: 'LucidaSans-Italic', 'AdobeInvisFont', 'MyriadPro-Regular';
	text-align: center;
	color: rgba(255, 255, 255, 255);
	font-size: 41pt;
	width: 225px;
}
nav {
	background: url(assets/navbg.png);
	height: 42px;
	width: 454px;	
}
nav ul {
	font-size: 15px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 454px;
}
nav li img {
	width: 25px;
	height: 20px;
}
nav li {
	font-size: 14px;
}
.center div {
	display: flex;
	flex-direction: row;
	height: 487px;
	width: 992px;
}
.slogan h1 {
	width: 392px;
	height: 121px;
	overflow: auto;
}
.player div {
	display: flex;
	height: 327px;
	width: 549px;
	overflow: auto;
}
.player img {
	height: 327px;
	width: 549px;
}
.slogan {
	font-family: 'Asap-Regular', 'AdobeInvisFont', 'MyriadPro-Regular';
	font-size: 63pt;
	color: rgba(255, 255, 255, 255);
	display: flex;
}
.thecool {
	color: yellow;
}
main {
	display: flex;
	border: 3px solid red;
}
section {
	background-image: url(assets/centrbg.png);
	height: 212px;
	width: 1300px;
	margin: 0 auto;
	border: 2px solid gray;
	justify-content: space-around;
}
section ul {
	font-size: 27pt;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	border: 2px solid red;
}
section ul li img {
	height: 100px;
	width: 100px;
}
section li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-left: 1px solid black;
	width: 340px;
}
.prefoot div {
	background: url(assets/bgyellow.png);
	width: 1300px;
	height: 509px;
	margin: 0 auto;
}
.textf p {
	font-family: 'PTSans-Regular', 'AdobeInvisFont', 'MyriadPro-Regular';
	font-size: 37pt;
	width: 517px;
	height: 28px;
	color: rgba(255, 255, 255, 255);
}
.texts p {
	font-family: 'SegoeWP-Light', 'AdobeInvisFont', 'MyriadPro-Regular';
	font-size: 29pt;
	width: 272px;
	height: 174px;
	text-align: left;
	color: rgba(255, 255, 255, 255);
}
footer {
	border: 3px solid green;
}
.foot div {
	background: url(assets/footerbg.png);
	width: 1300px;
	height: 500px;
	margin: 0 auto;
}
.underfoot div {
	background: url(assets/underfootbg.png);
	width: 1300px;
	height: 64px;
	margin: 0 auto;
}
.prefpic {
	height: 233px;
	width: 315px;
}
