/* reset browser styles */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* reset browser styles done */

@font-face {
    font-family: 'Lucida Sans';
    src: url(assets/fonts/LucidaSans-Italic.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'SegoeWP';
    src: url(assets/fonts/SegoeWP.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'Asap Regular';
    src: url(assets/fonts/Asap-Regular.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'SegoeUI-light';
    src: url(assets/fonts/SegoeUI-Light.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'PTSans-Regular';
    src: url(assets/fonts/PTSans-Regular.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'SegoeWP-light';
    src: url(assets/fonts/SegoeWP-Light.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'OpenSans';
    src: url(assets/fonts/OpenSans.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'SegoeUI-bold';
    src: url(assets/fonts/SegoeUI-Bold.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'SegoeUI';
    src: url(assets/fonts/SegoeUI.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'PTSans narrow-bold';
    src: url(assets/fonts/PTSans-NarrowBold.woff2) format('woff2');
    font-style: normal;
	font-weight: normal;
  }
  @font-face {
    font-family: 'Arial MT';
    src: url(assets/fonts/ArialRegular.woff) format('woff');
    font-style: normal;
	font-weight: normal;
  }
body {
	text-align: center;
	background: white;
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
.content div {
	width: 1020px;
	margin: 0 auto;
	display: flex;
}
.wrapper {
	background-image: url(assets/img/bg1.png);
	width: 1300px;
	height: 566px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 140px;
}
header {
	height: 112px;
	width: 1300px;
}
.top {
	height: 112px;
	display: flex;
}
#logo {
	width: 304px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: -12px;
	margin-top: 28px;
}
#logo ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	margin-left: 12px;
}
#logo img {
	position: relative;
}
#logoimgfir {
	height: 84px;
	width: 84px;
	z-index: 10;
}
#logoimgsec {
	height: 80px;
	width: 80px;
	z-index: 1;
	top: -87px;
}
#logo h1 {
	font-family: 'Lucida Sans';
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 400;
	color: rgba(255, 255, 255, 255);
	width: 225px;
	height: 30px;
	margin-top: -63px; 
	margin-left: 3px;
	letter-spacing: 0.03em;
}
nav {
	background: url(assets/img/navbg.png);
	height: 41px;
	width: 453px;
	margin-top: 71px;
	display: flex;
	box-shadow: -4px -5px rgba(245, 197, 6, 0.4),
				-8px -8px rgba(245, 197, 6, 0.2);
	}
nav ul {
	width: 454px;
	display: flex;
	flex-direction: row;
	align-content: space-around;
	list-style: none;
	border-right: none;
}
nav li {
	height: 41px;
	width: 300px;
	font-family: 'SegoeWP';
	font-size: 17px;
	text-transform: uppercase;
	border-right: 1px solid #dcb105;
	box-sizing: border-box;
	padding-top: 8px;
}
nav a {
	text-decoration: none;
	color: rgba(155, 125, 8, 255);
}
#li_about {
	width: 172px;
	padding-left: 17px;
}
#li_services {
	width: 132px;
}
#li_contact {
	width: 147px;
	border-right: none;
}
nav img {
	margin-right: 9px;
	vertical-align: bottom;
}
nav a:hover {
	color: rgba(255, 244, 237, 0.7);
}
#about {
	width: 21px;
	height: 19px;
}
#serv {
	width: 19px;
	height: 19px;
}
#cont {
	width: 24px;
	height: 18px;
	padding-bottom: 2px;
}
.center div {
	height: 327px;
	display: flex;
	flex-direction: row;
	margin-top: 56px;
	margin-left: 10px;
	justify-content: space-around;
}
.player {
	display: flex;
	position: relative;
}
#triangleplay {
	width: 19px;
	height:	34px;
	position: absolute;
	top: 147px;
	left: 268px;
	z-index: 10;
}
#polosapr {
	width: 404px;
	height:	12px;
	position: absolute;
	top: 285px;
	left: 80px;
}
#polosapr2 {
	width: 179px;
	height:	12px;
	position: absolute;
	top: 285px;
	left: 80px;
	border-radius: 5px;
}
#play {
	width: 67px;
	height:	67px;
	position: absolute;
	top: 128px;
	left: 240px;
	z-index: 5;	
}
#sq {
	width: 27px;
	height:	27px;
	position: absolute;
	top: 278px;
	left: 29px;
}
#sqtr {
	width: 10px;
	height:	17px;
	position: absolute;
	top: 283px;
	left: 39px;
}
#vol {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 284px;
	left: 515px;
}
.slogan div {
	width: 392px;
	height: 121px;
	display: flex;
}
.slogan h1{
	height: 121px;
	font-family: 'Asap Regular';
	font-size: 61px;
	letter-spacing: 0.03em;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 255);
	margin-top: 70px;
	margin-left: 25px;
	word-spacing: -0.03em;
}
#thecool {
	color: #f5c506;
	margin-left: -17px;
}
#button_left {
	width: 13px;
	height: 19px;
	float: left;
	background: #c9a60d;
	padding: 19px 11px 19px 8px;
	margin-top: -196px;
	margin-left: -140px;
}
#button_right {
	width: 13px;
	height: 19px;
	float: right;
	background: #c9a60d;
	padding: 19px 8px 19px 11px;
	margin-top: -196px;
	margin-right: -140px;
}
#button_right:hover {
	width: 16px;
	transition: all 0.3s ease;
	border-radius: 35px;
}
#button_left:hover {
	width: 16px;
	transition: all 0.3s ease;
	border-radius: 35px;
}
main {
	height: 720px;
	display: flex;
	flex-direction: column;
}
section {
	height: 212px;
	width: 1300px;
	background-image: url(assets/img/sectionbg.png);
	box-shadow: 0px -2px 5px -1px #4c4c4c;
}
section a {
	text-decoration: none;
	color: #050505;
}
section a:hover {
	color: yellow;
	background: rgba(102, 156, 255, 0.4);
	transition: all 0.4s ease;
}
section ul {
	width: 1020px;
	font-size: 27px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0 auto;
	border-left: 1px solid #d1d1d1;
}
section ul li img {
	height: 100px;
	width: 100px;
}
section li a{
	width: 340px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'SegoeUI-light';
	justify-content: flex-end;
	padding-bottom: 32px;
	border-right: 1px solid #d1d1d1;
}
#bettertxt {
	margin-left: 18px;
	margin-bottom: 1px;
	letter-spacing: 0.01em;
}
#custtxt{
	margin-left: 18px;
	letter-spacing: 0.01em;
}
#itstxt {
	margin-left: -19px;
	letter-spacing: 0.01em;
}
#better {
	width: 109px;
	height: 74px;
	margin-bottom: 9px;
	margin-left: -5px;
}
#cust {
	width: 91px;
	height: 95px;
	margin-bottom: 14px;
	margin-left: 20px;
}
#its {
	width: 81px;
	height: 83px;
	margin-bottom: 8px;
	margin-left: -26px;
}
article {
	background: url(assets/img/bgyellow.png);
	height: 509px;
	text-align: left;
	box-shadow: inset 0 2px 5px -1px #4c4c4c;
}
.range_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	width: 896px; 
	height: 15px; 
	overflow: hidden;
	top: 44px;
	left: 74px;
}
input[type='range'] {
	position: absolute;
	width: 896px; 
	height: 15px; 
	-webkit-appearance: none;
	background: url(assets/img/slider_bg.png);
	top: -2px;
	left: -2px;
}
input[type='range']::-webkit-slider-runnable-track {
	height: 15px;
	-webkit-appearance: none;
	margin-top: 1px;
}
input[type='range']::-webkit-slider-thumb {
	width: 197px;
	-webkit-appearance: none;
	height: 15px;
	cursor: ew-resize;
	background: url(assets/img/slider.png);
}
input[type="range"]::-moz-range-progress {
	background-color: rgba(250, 231, 152, 0.4);
}
input[type="range"]::-moz-range-track {  
	background-color: rgba(250, 231, 152, 0.4);
}
input[type="range"]::-ms-fill-lower {
	background-color: rgba(250, 231, 152, 0.4);
}
input[type="range"]::-ms-fill-upper {  
	background-color: rgba(250, 231, 152, 0.4);
}
input [type='text'] {
	display: none;
}
input [type='button'] {
	display: none;
}
article ul {
	margin: 0 auto;
	width: 1020px;
	list-style: none;
	display: flex;
	height: 233px;
	margin-top: 2px;
}
#arttitle {
	width: 525px;
	font-family: 'PTSans-Regular';
	font-size: 37px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 255);
	text-align: left;
	padding: 30px 0;
	margin-left: 141px;
	letter-spacing: 0.01em;
}
article li {
	display: flex;
	justify-content: space-around;
	position: relative;
}
article li p {
	font-family: 'SegoeWP-light';
	font-size: 28px;
	color: rgba(255, 255, 255, 255);
	text-align: left;
	width: 280px;
	height: 174px;
	margin-top: 16px;
	margin-left: 20px;
	letter-spacing: 0.0249em;
	line-height: 1.37em;
}
#brbr {
	display: none;
}
#pplus {
	width: 11px;
	height: 11px;
	position: absolute;
	bottom: 12px;
	right: 14px;
	z-index: 5;
}
#pplus:hover {
	transform: scale(1.3);
}
.text {
	background: url(assets/img/sectiontextbg.png);
	width: 341px;
	height: 233px;
	justify-content: space-around;
}
.bird {
	background-image: url(assets/img/birdbg.png);
	width: 329px;
	height: 233px;
	align-items: center;
	margin-left: 34px;
}
.bird img {
	margin-top: 38px;
	margin-left: 49px;
}
.vid img {
	width: 315px;
	height: 232px;
}
#triplay {
	width: 17px;
	height: 31px;
	position: absolute;
	top: 109px;
	left: 154px;
	z-index: 8;
}
#roundpl {
	width: 61px;
	height: 61px;
	position: absolute;
	top: 93px;
	left: 129px;
}
#twentytwo {
	color: #ffffff;
	font-family: 'SegoeWP-light';
	font-size: 27px;
	position: absolute;
	top: 9px;
	right: 17px;
}
#plusec {
	width: 11px;
	height: 11px;
	position: absolute;
	bottom: 12px;
	right: 10px;
	z-index: 5;
}
#plusec:hover {
		transform: scale(1.3);
	}
.date {
	width: 113px;
	height: 86px;
	background: #ddb101;
	margin-left: 140px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
#twentyfive {
	width: 55px;
	color: #ffffff;
	font-size: 48px;
	font-family: 'SegoeUI-bold';
	margin: -1px auto;
	letter-spacing: 0.05em;
}
#april {
	width: 55px;
	height: 15px;
	text-transform: uppercase;
	font-family:'SegoeUI';
	font-size: 20px;
	color: #b26529;
	margin: -8px 32px;
	letter-spacing: 0.03em;
}
footer {
	background: url(assets/img/footerbg.png);
	height: 563px;
	display: flex;
	flex-direction: column;
}
footer p {
	width: 650px;
	height: 32px;
	font-family: 'PTSans-Regular';
	font-size: 42px;
	color: #f5c506;
	margin-top: 35.5px;
	margin-left: 328px;
	text-transform: uppercase;
	letter-spacing: 0.024em;
}
#footmain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#picslist {
	width: 600px;
	height: 350px;
	margin-top: 22px;
	margin-left: -8px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
#list {
	width: 370px;
	height: 250px;
	margin-top: 110px;
	margin-right: -9px;
}
#picslist ul {
	width: 550px;
	height: 300px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
#list ul {
	width: 370px;
	height: 250px;
	font-family: 'OpenSans';
	font-size: 22px;
	line-height: 1.2em;
	letter-spacing: 0.005em;
	word-spacing: 0.02em;
	color: #ffffff;
	text-align: left;
	display: flex;
	flex-direction: column;
	list-style-image: url(assets/img/footerliststyle.svg);
}
#picslist li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#phone img {
	padding-top: 112px;
	padding-right: 9px;
}
#itsfree {
	width: 116px;
	height: 116px;
	font-family: 'PTSans narrow-bold';
	font-size: 19px;
	background: #f5c506;
	color: #ffffff;
	border-radius: 60px;
	position: absolute;
	top: 4.9px;
	left: 7px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#list li {
	width: 350px;
	padding-left: 12px;
}
#stringfirst {
	padding-bottom: 6px;
	margin-top: 2.8px;
}
#stringsecond {
	margin-top: 16.6px;
}
#stringthird {
	margin-top: 14px;
}
#stringfourth {
	margin-top: 25px;
}
.underfooter { 
	background: url(assets/img/underfootbg.png);
	height: 64px;
	box-shadow: inset 0 2px 5px -1px black;
	display: flex;
	padding: 0 140px;
	position: relative;
	top: 60px;
}
.underfooter p {
	font-family: 'Lucida Sans';
	font-size: 28px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 15px 0 0 -186px;
	letter-spacing: 0.035em;
}
#ffootlogo {
	width: 54px;
	height: 54px;
	position: absolute;
	left: 140px;
	top: 2.2px;
}
#sfootlogo {
	width: 51px;
	height: 51px;
	position: absolute;
	left: 141px;
	top: 3px;
}
.bubbleblock, .bubbleblock img {
	display: none;
}

/*         adaptive          */

@media screen and (max-width: 640px) {
/*   reset   */
* {
	margin: 0;
	padding: 0;
}
/* end of reset */
body {
	width: 640px;
}
.content div{
	width: 640px;
}
header {
	width: 640px;
	height: 389px;
}
.top {
	height: 62px;
	width: 300px;
	position: relative;
	background: url(assets/img/mobilelogobg.png) no-repeat;
}
#logo ul {
	width: 183px;
	height: 20px;
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-top: 34px;
	margin-left: 14px;
}
#logoimgfir {
	height: 39px;
	width: 40px;
	z-index: 10;
	position: absolute;
	top: -19px;
	left: 10px;
}
#logoimgsec {
	height: 38px;
	width: 37px;
	z-index: 2;
	position: absolute;
	top: -61px;
	left: 10px;
}
#logo h1 {
	font-size: 19px;
	margin-left: -43px;
	margin-top: -50px;
	letter-spacing: 0.02em;
}
nav {
	width: 455px;
	height: 62px;
	box-shadow: none;
	margin-top: 0px;
	margin-right: 380px;
}
nav ul {
	font-size: 26px;
	width: 455px;
	height: 62px;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 8px 11px -8px rgba(0,0,0,0.75);
}
nav li {
	height: 62px;
	padding-top: 20px;
	letter-spacing: 0.08em;
}
#about {
	height: 22px;
	width: 24px;
	margin-left: -16px;
	padding-right: 3px;
}
#serv {
	height: 22px;
	width: 22px;
	margin-left: -5px;
}
#cont {
	height: 21px;
	width: 28px;
	margin-left: -1px;
	padding-right: 4px;
}
#li_services {
	width: 132px;
}
#li_contact {
	width: 149px;
}
.center {
	background: url(assets/img/mobileplayer.png) no-repeat;
	width: 640px;
	height: 327px;
}
#button_left {
	display: none;
}
#button_right {
	display: none;
}
.player div {
	width: 640px;
	height: 327px;
}
.player video {
	display: none;
}
.player img {
	margin-top: -55px;
	margin-left: 44px;
}
.slogan h1 {
	display: none;
}
main {
	height: 659px;
	width: 640px;
	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.83);
}
section {
	width: 640px;
	height: 174px;
	box-shadow: -4px -4px rgba(236, 236, 233, 0.6),
				-9px -9px rgba(236, 236, 233, 0.3);
}
section ul {
	width: 640px;
	display: flex;
	border: none;
	justify-content: space-around;
	letter-spacing: 0.09px;
}
section li {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	height: 174px;
}
section li a {
	font-size: 23px;
	width: 213.3px;
	height: 108px;
	border: none;
	padding-top: 34px;
}
#better {
	width: 89px;
	height: 61px;
	margin-left: -35px;
	margin-bottom: 17px;
}
#bettertxt {
	margin-left: -24px;
	letter-spacing: 0.02em;
	word-spacing: -0.09em;
}
#cust {
	width: 67px;
	height: 69px;
	margin-left: 16px;
}
#its {
	width: 68px;
	height: 69px;
	margin-left: -4px;
	margin-bottom: 13px;
}
#itstxt {
	margin-left: 7px;
}
article {
	width: 640px;
	height: 485px;
	background: #ffffff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
article ul {
	height: 485px;
	display: flex;
	flex-wrap: wrap;
}
.text {
	width: 299px;
	height: 232px;
	margin: 5px 9px 5px 9px;
}
.text p {
	font-size: 27px;
	margin-left: 25px;
	margin-top: 16px;
	letter-spacing: 0.05em;
	line-height: 1.25em;
	word-spacing: 0.02em;
	white-space: pre-line;
}
#pplus {
	margin-bottom: 5px;
	margin-right: -3px;
}
#br {
	display: none;
}
#brbr {
	display: inline;
}
.vid {
	margin-top: 4px;
}
.bird {
	width: 317px;
	height: 233px;
	margin-left: 0px;
	background: #dcb105;
	position: relative;
	border-bottom: rgba(76, 76, 76, 0.5) solid 1px;
}
.bird img {
	height: 133px;
	width: 159px;
	margin-left: 62px;
	margin-top: 15px;
}
.bubbleblock {
	width: 323px;
	height: 233px;
	display: block;
	background: #dcb105;
	margin-left: 0px;
	position: relative;
	border-bottom: rgba(76, 76, 76, 0.5) solid 1px;
}
.bubbletext {
	color: rgba(143, 142, 142, 255);
	background: url(assets/img/bubble.svg) no-repeat;
	height: 42px;
	width: 284px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Arial MT';
	letter-spacing: 0.05em;
	font-size: 12px;
	margin-left: 7px;
	padding-left: 27px;
	line-height: 1.4em;
	padding-top: 1px;
}
#firststring {
	margin-top: 23px;
}
#secondstring {
	margin-top: -5px;
	opacity: 0.8;
}
#thirdstring {
	margin-top: -5px;
	opacity: 0.6;
}
#twentytwo {
	display: none;
}
#plusec {
	display: none;
}
.date {
	display: none;
}
#arttitle {
	display: none;
}
.range_container {
	display: none;
}
input[type='range'] {
	display: none;
}
input[type='text'] {
	width: 202px;
	height: 27px;
	background: #ffffff;
	border-radius: 10px 0 0 10px;
	margin-top: 13px;
	margin-left: 20px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
	border: 1px solid rgba(201, 201, 199, 0.9);
}
input[type='button'] {
	width: 70px;
	height: 31px;
	background: url(assets/img/button_bg.png);
	border-radius: 0 16px 16px 0;
	color: #ffffff;
	font-size: 15px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	border: 1px solid rgba(201, 201, 199, 0.4);
	margin-right: 8px;
	position: absolute;
	bottom: 12px;
	right: 24px;
	padding-right: 4px;
}
#itsfree {
	margin-left: -11px;
	margin-top: 1px;
}
.text li {
	width: 299px;
	height: 232px;
}
#slider_bg {
	display: none;
}
#slider {
	display: none;
}
#list {
	display: none;
}
footer {
	width: 640px;
	height: 466px;
	display: flex;
	position: relative;
	box-shadow: inset 0px -6px 6px -4px rgba(0,0,0,0.83);
	margin-top: -5px;
}
footer p {
	font-size: 40px;
	letter-spacing: 0.04em;
	margin-top: 31px;
	margin-left: -10px;
}
#picslist {
	margin-left: 32px;
	margin-top: 46px;
}
.underfooter {
	width: 640px;
	height: 44px;
	padding: 0;
	position: absolute;
	top: 466px;
	z-index: 8;
	box-shadow: none;
}
#ffootlogo {
	height: 31px;
	width: 31px;
	position: absolute;
	left: 65px;
	top: 7px;
}
#sfootlogo {
	height: 29px;
	width: 29px;
	position: absolute;
	left: 66px;
	top: 8px;
}
.underfooter p {
	height: 64px;
	width: 29px;
	font-size: 15px;
	margin-left: 105px;
	letter-spacing: 0.08em;
}
}
